@tailwind base;
@tailwind components;
@tailwind utilities;
.dark-mode {
    background-color: #1f2937;
    color: #fff;
}

#progressBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #3182ce;
    transition: width 0.3s ease;
}
